<!DOCTYPE html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <style>
      a {
        width:100%
      }
  </style>
  
  <head>
      <title>LED灯开关</title>
  </head>

  <body>
      <div class="container-fluid">
        <div class="row"> 
          <a href="/watering_on" class="btn btn-success btn-lg" role="butoon">开始浇水</a>
        </div>
        </br>   
        <div class="row">
          <a href="/watering_once" class="btn btn btn-info btn-lg" role="button">浇水一次</a>
        </div>
        </br>
        <div class="row">
          <a href="/watering_off" class="btn btn-danger btn-lg" role="button">停止浇水</a>
        </div>
      </div>
      <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
      <script src="https://cdn.bootcss.com/jquery/3.3.1/core.js"></script>
      <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
      <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.5/js/bootstrap.js"></script>
  </body>
